$color-dark:#262626;
$color-black:#000;
$color-primary:#d3ab55;
$color-secondary:#bbb;
$color-white:#fff;

$font-danceingScript:'Dancing Script',cursive;
$font-josefinSans:'Josefin Sans',sans-sarif;
$font-nunito:'Nunito',sans-serif;

*{
    margin: 0;
    padding: 0;
}

@mixin flexLayout{
      display :flex;
    justify-content: center;
    align-items: center;
}
@mixin textStyles{
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin centering($topValue){
    position: absolute;
    top:$topValue;
    left:50%;
    transform: translate(-50%, -50%);
}
@mixin heighwidth{
     width: 100%;
    height: 100%;
}
%fullSpace{
    width:100%;
    height: 100%;
        
}

body{
    background-color: $color-dark;
}
